@media (min-width: 1075px) {
/*	.navbar{
		height: 100px;
	}*/
	#mobile-navigation{
		display: none;
	}
/*	.logo{
		width: 65px;
	}
	nav ul {
		display: inline-block;
	}
	.main-home{
		padding-top: 50px;
	}*/
}

@media screen and (min-width: 1125px) {
/*	.navbar{
		height: 100px;
	}
	.logo{
		padding-right: 5px;
	}
	.nav > li > a{
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-home{
		padding-top: 0;
	}*/
}

@media screen and (min-width: 991px) {
	.right-column-xs-1, .right-column-xs-2{
		margin-left: 25px;
	}
	.press-img{
		margin-top: 75px;
	}
	.faq-answer{
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.feature-img-left{
		width: 400px;
	}
}
