/* GLOBAL */

body, .container-fluid {
	background-color: #f8f8f8;
}

.container-fluid{
	overflow-x: hidden;
}


/* FONT */
@font-face {
		font-family: 'Gotham', 'Helvetica Neue', sans-serif;
		src: url('Gotham-Medium.otf');
}

body, h1, h2, h3, h4, h5, h6, p, a, ul, li{
		font-family: 'Gotham', 'Helvetica Neue', sans-serif;
	color: #777;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}


/* UTILITIES */
a.select {
	top: 8px;
	color: #6ac234 !important;
	border: 1px solid #6ac234;
	padding: 8px 15px 6px 15px !important;
}

.border-black{
	border: 2px solid black;
}

.green{
	color: #6ac234;
}

.bg{
	background-image: url('../img/bg-paper.png');
}

.margin-top-25{
	margin-top: 25px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-75{
	margin-top: 75px;
}

.margin-top-100{
	margin-top: 100px;
}

.margin-top-150{
	margin-top: 150px;
}

.margin-top-175{
	margin-top: 175px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.width-250{
	width: 250px;
}

.ta-center{
	text-align: center;
}

.ta-left{
	text-align: left;
}

.is-bold{
	font-weight: bold;
}

.fw-normal{
	font-weight: normal;
}

.feature-btn{
	padding: 15px 20px;
	width: 300px;
	height: auto;
	font-size: 32px;
	text-transform: uppercase;
	border: 3px solid #888888;
	border-radius: 12px;
	background-color: white;
}

.feature-btn:hover{
	background: rgba(204, 204, 204, 0.7);
	color: #888 !important;
	text-decoration: none !important;
}

/*.feature-btn{
	padding: 15px 20px;
	width: 300px;
	font-size: 32px;
	color: white;
	text-transform: uppercase;
	border: 3px solid #4cae4c;
	border-radius: 12px;
	background-color: #6ac234;
}

.feature-btn:hover{
		color: #fff;
		background-color: #47a447;
		border-color: #398439;
	color: white !important;
	text-decoration: none !important;
}*/

.vertical-align{
	position: relative;
	padding-top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mail{
	text-decoration: underline;
}

.mail:hover, {
	color: #888 !important;
	cursor: pointer;
}

.no-hover:hover{
	color: #888 !important;
	cursor: pointer;
	text-decoration: none;
}

.text-white a, .text-white:hover a{
	color: white !important;
}

.glyphicon-chevron-down, .glyphicon-chevron-up{
	font-size: 16px;
}


/* WUFOO FORM*/
#header{
	display: none;
}


/* HEADER & FOOTER */
.logo{
	display: inline-block;
	position: relative;
	top: 5px;
	width: 75px;
	vertical-align: inherit;
}

.logo:hover{
	cursor: pointer;
}

.wrap{
	position: relative;
	margin: auto;
	max-width: 1200px;
	width: 100%;
}

.social-wrap {
	position: relative;
	top: 25px;
	margin: auto;
	width: 100%;
	max-width: 830px;
}

.navbar{
	height: 90px;
	margin-bottom: 0;
}

nav ul {
	display: none;
	padding-top: 5px;
	padding-left: 0;
	padding-right: 0;
}

nav ul li a{
	font-size: 14px;
	padding-top: 25px;
	text-transform: uppercase;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

nav ul li a:hover{
	color: #6ac234;
}

.header-icons{
	display: none;
	position: relative;
	top: 9px;
	width: 27px;
	margin-left: 15px;
}

#mobile-navigation{
	position: relative;
	display: inline-block;
	top: -25px;
	left: 25px;
	height: 30px;
	width: 40%;
	font-size: 25px;
}

footer p{
	margin-top: 30px;
	color: #888;
	text-align: center;
}


/* HOMEPAGE */

main{
	position: relative;
	width: 100%;
}


.masthead{
	width: 100%;
	height: 480px;
	text-align: center;
	background-color: grey;
}

#homepage-slider {
	width: 100%;
	height: 480px;
	overflow: hidden;
}

#homepage-slider p {
	font-size: 25px;
	line-height: 35px;
}

#homepage-slider h1 {
	margin-top: 0px;
	font-size: 50px;
}

#homepage-slider .item-first {
	width: 100%;
	height: 480px;
	background-color: #950014;
}

#homepage-slider .item-first section {
	position: relative;
	top: 100px;
}

#homepage-slider .item-first h1 {
	color: white;
	padding-bottom: 25px;
}

#homepage-slider .item-first p {
	color: white;
	width: 750px;
	margin: auto;
}

.masthead .owl-controls {
	position: absolute;
	top: 400px;
	width: 100%;
}

.disclaimer {
	position: absolute;
	right: 100px;
	bottom: 42px;
	width: 250px !important;
	font-size: 16px !important;
	font-style: italic;
}

#homepage-slider .item-second section {
	position: absolute;
	top: 140px;
	left: 125px;
	text-align: left;
}

#homepage-slider .item-second button {
	left: 115px;
}

#homepage-slider .item-second h1,  #homepage-slider .item-second p {
	color: black;
}

#homepage-slider .item-third section {
	float:right; 
	width: 428px; 
	height: 480px;
	background-color: #f0ad4e;
}

#homepage-slider .item-third h1 {
	position: relative;
	top: 75px;
	color: white;
	font-size: 40px;
	text-align: left;
	padding: 25px 30px 60px 30px;
}

#homepage-slider .item-fourth section {
	width: 100%;
	height: 55px;
	background-color: #3496f2;
	position: absolute;
	top: 325px;
}

#homepage-slider .item-fourth p{
	padding-top: 12px;
	text-align: center;
	color: white;
	font-size: 22px;
}

#homepage-slider .item-fourth a {
	text-decoration: underline;
	color: white;
}

.masthead button{
	position: relative;
	top: 45px;
	font-size: 20px;
}


.social-wrap p {
	font-weight: bold;
}

#mc_embed_signup, .social-media, .blog {
	float: left;
	height: 90px;
	text-align: left;
}

#mc_embed_signup, .social-media{
	border-right: 1px solid #888;
}

.social-media, .blog {
	margin-left: 45px;
}

#mc_embed_signup {
	width: 285px;
}

#mc_embed_signup strong {
	color: #C2221B;
	font-size: 20px;
}

.email{
	height: 35px;
	width: 230px;
	padding: 0 15px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type ="submit"] {
	position: relative;
	font-size: 14px;
	border: 0;
	border-radius: 50%;
	padding: 0px 6px;
	right: 35px;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

.social-media {
	width: 220px;
}

.social-media img, .blog img {
	display: inline;
	float: left;
	width: 43px;
}

.homepage-press{
	width: 200px;
	margin-right: 25px;
	margin-top: 17px;
}

ul.tick {
	list-style-image: url(../img/checkmark.png);
}


#testimony-slider {
	width: 100%;
	height: 335px;
	overflow: hidden;
}

#testimony-slider .item {
	width: 100%;
	height: 335px;
	background-color: rgb(13, 163, 179);
}

/*#homepage-slider p {
	font-size: 25px;
	line-height: 35px;
}

#homepage-slider h1 {
	margin-top: 0px;
	font-size: 50px;
}

#homepage-slider .item-first {
	width: 100%;
	height: 480px;
	background-color: #950014;
}

#homepage-slider .item-first section {
	position: relative;
	top: 100px;
}

#homepage-slider .item-first h1 {
	color: white;
	padding-bottom: 25px;
}

#homepage-slider .item-first p {
	color: white;
	width: 750px;
	margin: auto;
}*/


/* Other Pages */

.feature-img-right, .feature-img-left{
	width: 400px;
	padding-top: 10px;
	text-align: center;
}

.feature-right{
	margin-left: 25px;
}

.feature-img-left{
	width: 100%;
}

.right-column-xs-1{
  margin-left: 8.33333333%;
}

.right-column-xs-2{
  margin-left: 16.66666667%;
}

.main-content p, .main-content ul {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 25px;
}

.main-content li {
	line-height: 45px;
}

.main-content h1{
	margin-bottom: 25px;
}

.row-main{
	padding-top: 50px;
	padding-bottom: 65px;
}

.contact-form{
	width: 90%;
}

.contact-form label{
	font-weight: lighter;
	font-size: 20px;
	padding-bottom: 7px;
}

.contact-form input, .contact-form textarea{
	border: 1px solid #aaa;
}

.contact-form input{
	height: 35px;
}

.contact-form textarea{
	height: 200px;
}

.team figure{
	display: inline-block;
	width: 260px;
	margin-bottom: 40px;
}

.team-profiles{
	width: 175px;
	margin-bottom: 20px;
}

figcaption{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px
}

figcaption:first-of-type{
	font-size: 15px;
}

.awards-press{
	width: 250px;
	margin-right: 50px;
	margin-top: 30px;
}

.press-img{
	margin-bottom: 25px;
	width: 250px;
}

.press-img:first-of-type{
	margin-top: 50px;
}

.faq-question{
	margin-top: 50px;
	cursor: pointer;
}

.faq-answer{
	margin: 30px 0;
}

.contact figure{
	display: inline-block;
	width: 200px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.contact figure p{
	margin: 0;
}

.feature-video{
	width: 63%;
	min-width: 300px;
	height: 200px;
	padding: 10px;
}


/* Wufoo Form*/
 #wufoo {
	width:100%;
	height: 400px;
}

#wufoo iframe {
	height: 100%;
	width: 100%;
	border: none;
}



/* LIGHTBOX PLUGIN */

/* Preload images */
body:after {
		content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
		display: none;
}

.lightboxOverlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		background-color: black;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		opacity: 0.8;
		display: none;
}

.lightbox {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 10000;
		text-align: center;
		line-height: 0;
		font-weight: normal;
}

.lightbox .lb-image {
		display: block;
		height: auto;
		max-width: inherit;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
}

.lightbox a img {
		border: none;
}

.lb-outerContainer {
		position: relative;
		background-color: white;
		*zoom: 1;
		width: 250px;
		height: 250px;
		margin: 0 auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
}

.lb-outerContainer:after {
		content: "";
		display: table;
		clear: both;
}

.lb-container {
		padding: 4px;
}

.lb-loader {
		position: absolute;
		top: 43%;
		left: 0;
		height: 25%;
		width: 100%;
		text-align: center;
		line-height: 0;
}

.lb-cancel {
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 auto;
		background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
}

.lb-container > .nav {
		left: 0;
}

.lb-nav a {
		outline: none;
		background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
		height: 100%;
		cursor: pointer;
		display: block;
}

.lb-nav a.lb-prev {
		width: 34%;
		left: 0;
		float: left;
		background: url(../img/prev.png) left 48% no-repeat;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		-webkit-transition: opacity 0.6s;
		-moz-transition: opacity 0.6s;
		-o-transition: opacity 0.6s;
		transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}

.lb-nav a.lb-next {
		width: 64%;
		right: 0;
		float: right;
		background: url(../img/next.png) right 48% no-repeat;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		-webkit-transition: opacity 0.6s;
		-moz-transition: opacity 0.6s;
		-o-transition: opacity 0.6s;
		transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}

.lb-dataContainer {
		margin: 0 auto;
		padding-top: 5px;
		*zoom: 1;
		width: 100%;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
		content: "";
		display: table;
		clear: both;
}

.lb-data {
		padding: 0 4px;
		color: #ccc;
}

.lb-data .lb-details {
		width: 85%;
		float: left;
		text-align: left;
		line-height: 1.1em;
}

.lb-data .lb-caption {
		font-size: 13px;
		font-weight: bold;
		line-height: 1em;
}

.lb-data .lb-number {
		display: block;
		clear: left;
		padding-bottom: 1em;
		font-size: 12px;
		color: #999999;
}

.lb-data .lb-close {
		display: block;
		float: right;
		width: 30px;
		height: 30px;
		background: url(../img/close.png) top right no-repeat;
		text-align: right;
		outline: none;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}
