/* GLOBAL */

.container-fluid{
	overflow-x: hidden;
}


/* FONT */
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('ProximaNova-Regular.otf');
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('ProximaNova-Regular.otf');
}

body, h2, h3, h4, h5, h6, p, a, ul, li{
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', sans-serif;
	color: #777;
}

h1 { font-family: 'ProximaNova-Semibold';}

h2, h3, h4, h5, h6{
	font-weight: normal;
}


/* UTILITIES */
.bold {
	font-weight: bold;
}

.select {
	color: #0da3b3 !important;
}

.pre-order {
	border: 2px solid #0da3b3;
	padding: 8px 15px 6px 15px !important;
	border-radius: 10px;
}

.pre-order:hover {
	background: #0da3b3 !important;
	color: white !important;
}

.select-pre-order {
	background: #0da3b3 !important;
	color: white !important;
}

.border-black{
	border: 2px solid black;
}

.green{
	color: #6ac234;
}

.bg{
	background: #fff;
	background: -moz-linear-gradient(top,#fff 0,#e3e3e3 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top,#fff 0,#e3e3e3 100%);
	background: -o-linear-gradient(top,#fff 0,#e3e3e3 100%);
	background: -ms-linear-gradient(top,#fff 0,#e3e3e3 100%);
	background: linear-gradient(to bottom,#fff 0,#e3e3e3 100%);
}
.bg-white { background-color: #fff; }
.bg-orange { background-color: #ff9933; }
.bg-blue { background-color: #0da3b3; }
.bg-grey { background-color: #737373; }
.bg-silver { background: #f1f1f1; }
.bg-green { background: #97c13d; }

.margin-top-25{
	margin-top: 25px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-75{
	margin-top: 75px;
}

.margin-top-100{
	margin-top: 100px;
}

.margin-top-150{
	margin-top: 150px;
}

.margin-top-175{
	margin-top: 175px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.width-250{
	width: 250px;
}

.ta-center{
	text-align: center;
}

.ta-left{
	text-align: left;
}

.is-bold{
	font-weight: bold;
}

.fw-normal{
	font-weight: normal;
}

.feature-btn{
	padding: 15px 20px;
	width: 300px;
	height: auto;
	font-size: 32px;
	text-transform: uppercase;
	color: #0da3b3;
	border: 3px solid #0da3b3;
	border-radius: 15px;
	background-color: white;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

.feature-btn:hover{
	background: #0da3b3 !important;
	color: white !important;
	text-decoration: none;
}

/*.feature-btn{
	padding: 15px 20px;
	width: 300px;
	font-size: 32px;
	color: white;
	text-transform: uppercase;
	border: 3px solid #4cae4c;
	border-radius: 12px;
	background-color: #6ac234;
}

.feature-btn:hover{
		color: #fff;
		background-color: #47a447;
		border-color: #398439;
	color: white !important;
	text-decoration: none !important;
}*/

.vertical-align{
	position: relative;
	padding-top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mail{
	text-decoration: underline;
}

.mail:hover, {
	cursor: pointer;
}

.no-hover:hover{
	cursor: pointer;
	text-decoration: none;
}

.text-white a, .text-white:hover a{
	color: white !important;
}

.glyphicon-chevron-down, .glyphicon-chevron-up{
	font-size: 16px;
}



/* HEADER & FOOTER */
#regular-navigation {
	display: none;
}

#hamburger {
	position: relative;
	top: 13px;
	width: 50px;
	float: right;
}

/*#mobile-navigation { overflow: hidden;}*/
#mobile-dropdown { 
	display: none;
	position: relative;
	list-style: none;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 5px;
}

#mobile-dropdown li {
	line-height: 35px;
}


#hamburger:hover { cursor: pointer; }


.info-bar {
	height: 30px;
	padding: 10px 0 22px 0;
	font-size: 12px;
	border-bottom: 1px solid #d7d7d7;
}

.info-bar a:hover {
	color: #0da3b3 !important;
}

.phone-email {
	margin-left: 5px;
}

.navbar-nav > li {
	float: left;
}

.logo{
	display: inline-block;
	float: left;
	position: relative;
	top: 11px;
	width: 45px;
	vertical-align: inherit;
}

.logo:hover{
	cursor: pointer;
}

.wrap{
	position: relative;
	margin: auto;
	max-width: 1200px;
	width: 100%;
}

.header-wrap {
	position: relative;
	margin: auto;
	max-width: 850px;
	width: 90%;
}

.mobile-wrap {
	position: relative;
	margin: auto;
	width: 80%;
	min-width: 250px;
}

.social-wrap {
	position: relative;
	top: 25px;
	margin: auto;
	width: 100%;
	max-width: 830px;
}

.testimony-wrap {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
}



.navbar{
	height: 65px;
	margin-bottom: 0;
	max-width: 1280px !important;
	margin: auto !important;
}

nav ul {
	float: right;
	padding-top: 8px;
	padding-left: 0;
	padding-right: 0;
}

nav ul li a{
	font-size: 13px;
	padding-top: 25px;
	text-transform: uppercase;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}

nav ul li a:hover{
	color: #0da3b3 !important;
}

.header-icons{
	display: none;
	position: relative;
	top: 9px;
	width: 27px;
	margin-left: 15px;
}


footer{
	border-top: 1px solid #d7d7d7;
	padding: 35px 0 10px 0;
	color: #888;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer li {
	font-size: 13px;
	line-height: 18px !important;
}

footer #mc_embed_signup {
	border-right: 0;
	margin: auto;
	width: 275px;
	margin-top: 20px;
}

footer .email {
	height: 30px;
	width: 180px;
	font-size: 12px;
	padding-left: 10px;
	margin-right: 5px;
}

footer input[type="submit"] {
	top: 14px;
	padding: 4px 13px 3.5px;
}

/* HOMEPAGE */

main{
	position: relative;
	width: 100%;
	padding-top: 16px;
}


.masthead{
	width: 100%;
	height: 480px;
	text-align: center;
	margin-top: 25px;
	background-color: grey;
}

#homepage-slider {
	width: 100%;
	height: 480px;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}

.owl-next, .owl-prev{ position: absolute; z-index:300; cursor: pointer; width: 50px; height: 45px;}
#homepage-slider .owl-next{ right: 10px; top: -225px; background: url('../img/next.png') !important;}
#homepage-slider .owl-prev { left: 10px; top: -225px;  background: url('../img/prev.png') !important;}
#features-slider .owl-next{ right: 10px; top: -175px; background: url('../img/next.png') !important;}
#features-slider .owl-prev { left: 10px; top: -175px;  background: url('../img/prev.png') !important;}

#homepage-slider .item { 	width: 100%; height: 480px;}
#homepage-slider p { font-size: 25px; line-height: 35px; }
#homepage-slider h1 { margin-top: 0px; font-size: 50px;}

#homepage-slider .item-first {
	background: url('../img/homeslider1.jpg');
	background-size: cover;
}

#homepage-slider .item-first section {
	position: absolute;
	right: 25px;
	top: 45px;
	max-width: 700px;
	width: 60%;
	min-width: 275px;
	padding: 15px;
}

#homepage-slider .item-first p {
	margin: auto;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

.masthead .owl-controls {
	position: absolute;
	top: 400px;
	width: 100%;
}

#homepage-slider .item-second {
	background: url('../img/homeslider2.jpg');
	background-size: cover;
}

#homepage-slider .item-second section {
	position: absolute;
	top: 124px;
	left: 125px;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 25px 25px 50px 25px;
}

#homepage-slider .item-second button {
	left: 115px;
}

#homepage-slider .item-second h1,  #homepage-slider .item-second p {
	color: black;
}

#homepage-slider .item-third .img-wrapper {
	float: left;
	max-width: 850px;
	width: 65%;
	height: 480px;
	background: url('../img/homeslider3.jpg');
	background-size: cover;
}

#homepage-slider .item-third section {
	position: absolute;
	right: 0;
	width: 35%;
	height: 480px;
}

#homepage-slider .item-fourth img {
	position: absolute;
	top: 35px; 
	left: 50px;
	width: 600px; 
}

#homepage-slider .item-fourth section {
	position: absolute; 
	right: 0;
	top: 45px;
	width: 542px;
	height: 480px;
}

#homepage-slider .item-third h1, #homepage-slider .item-fourth h1{
	position: relative;
	top: 75px;
	color: white;
	font-size: 40px;
	text-align: left;
	padding: 25px 30px 60px 30px;
}

#homepage-slider .item-fifth section {
	top: 25px;
}

#homepage-slider .item-fifth section p {
	font-size: 20px;
	line-height: 26px; 
}

#homepage-slider .item-fifth .video-wrapper { top: 35px; }
#homepage-slider .item-fifth iframe { width: 300px; height: 200px;}

#homepage-slider .item-fifth button {
top: 15px; padding: 8px 17px 6px; font-size: 22px;
}

#homepage-slider .owl-item:nth-of-type(4), #homepage-slider .owl-item:nth-of-type(5) {
	background-color: white;
	height: 480px;
}


.masthead button{
	position: relative;
	top: 30px;
	font-size: 20px;
}

.social-wrap p {
	font-weight: bold;
}


#mc_embed_signup  { text-align: center; }
.home-signup {
	text-align: center;	
	padding:75px 0;
}
.home-signup input, input[type="submit"] { margin-bottom: 25px; }
.home-signup input[type="submit"] { top: 12px; }

.email, .fname, .lname {
	height: 35px;
	padding: 10px 12px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.email {	width: 270px; margin-right: 12px }
.fname, .lname { margin-right: 5px; width: 150px;}

input[type ="submit"] {
	position: relative;
	right: 7px;
	padding: 7px 13px 5.5px;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}

input[type ="submit"]:hover {
	color: white;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

.social-media {
	width: 220px;
}

.social-media img, .blog img {
	display: inline;
	float: left;
	width: 43px;
}

.homepage-press{
	height: 40px;
	margin-right: 15px;
	margin-bottom: 25px;
	position: relative;
}

ul.tick {
	list-style-image: url(../img/checkmark.png);
}


#testimony-slider {
	width: 100%;
	height: 350px;
	overflow: hidden;
}

#testimony-slider .item {
	width: 100%;
	height: 335px;
	background-color: #0da3b3;
}

#testimony-slider h1 {
	position: relative;
	top: 50px;
	color: white;
	font-size: 32px;
}

#testimony-slider p { 
	color: white;
}

#testimony-slider p:first-of-type,  #testimony-slider p:nth-of-type(2) {
	position: relative;
	top: 70px;
}

#testimony-slider p:first-of-type {
	font-size: 20px;
}

#testimony-slider p:nth-of-type(2) { 
	text-align: right;
	font-style: italic;
}

#testimony-slider .owl-page span {
	background: white;
	opacity: 0.3;
}

#testimony-slider .owl-controls {
	margin-top: -50px;
}

#testimony-slider .active span {
	opacity: 0.7 !important;
}




/* Other Pages */
#features-slider, .features-static { width: 100%; }
.features-slider-div { display: none; }

 #features-slider .owl-controls {
	position: absolute;
	margin-top: -25px;
	width: 100%;
}

#features-slider .item, .features-static item {
	width: 100%;
	height: 275px;
}

.features-wrap {
	width: 90%;
	min-width: 300px;
	max-width: 1060px;
	position: relative;
	text-align: center;
	margin: auto;
}

#features-slider section, .features-static section {
	width: 250px;
	text-align: center;
	margin: auto;
}

#features-slider img , .features-static img{
	width: 100px;
	margin-bottom: 20px;
}

#features-slider p, .features-static p {
	margin-bottom: 10px;
	text-align: center;
}

#features-slider p:nth-of-type(2), .features-static p:nth-of-type(2) {
	font-size: 16px;
	line-height: 20px;
}

#features-slider p strong, .features-static p strong {
	font-size: 22px;
}


.feature-img-right, .feature-img-left{
	width: 400px;
	padding-top: 10px;
	text-align: center;
}

.feature-right{
	margin-left: 25px;
}

.feature-img-left{
	width: 100%;
}

.cubii-specs li, .app-specs li {
	line-height: 32px !important;
}

.cubii-selection {
	width: 300px; 
	position: relative; 
	margin: auto;
}

.cubii-selection img {
	display: block;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

.cubii-selection figure {
	margin-top: 25px;
	width: 150px;
	float: left;
}

#cubii-silver {
	display: none;
}

.cubii-selection p {
	display: inline;
}

.right-column-xs-1{
  margin-left: 8.33333333%;
}

.right-column-xs-2{
  margin-left: 16.66666667%;
}

.main-content p, .main-content ul {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 25px;
}

.main-content li {
	line-height: 45px;
}

.main-content h1{
	margin-bottom: 25px;
}

.row-main{
	padding-top: 50px;
	padding-bottom: 65px;
	height: 625px;
}

.row-padding { padding: 75px 0; }

.contact-col2 { margin-top: 100px; }

.contact-form{
	width: 90%;
}

.contact-form label{
	font-weight: lighter;
	font-size: 20px;
	padding-bottom: 7px;
}

.contact-form input, .contact-form textarea{
	border: 1px solid #aaa;
}

.contact-form input{
	height: 35px;
}

.contact-form textarea{
	height: 200px;
}

.team figure{
	display: inline-block;
	width: 260px;
	margin-bottom: 40px;
}


figcaption{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px
}

figcaption:first-of-type{
	font-size: 15px;
}

.awards-press{
	width: 250px;
	margin-right: 50px;
	margin-top: 30px;
}

.press-img{
	margin-bottom: 25px;
	width: 250px;
}

.press-img:first-of-type{
	margin-top: 50px;
}

.faq-question{
	margin-top: 50px;
	cursor: pointer;
}

.faq-answer{
	margin: 30px 0;
}

.contact figure{
	display: inline-block;
	width: 200px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.contact figure p{
	margin: 0;
}

.feature-video{
	width: 63%;
	min-width: 300px;
	height: 200px;
	padding: 10px;
}

.buzz-box {
	display: block;
	position: relative;
	padding: 0;
	margin: auto;
	margin-bottom: 50px;
	width: 265px;
	height: 226px;
}

.buzz-box-header {
	height: 60px;
	line-height: 60px;
	position: relative;
}

.buzz-box:nth-of-type(4n+1) .buzz-box-header { background: #0da3b3; }
.buzz-box:nth-of-type(4n+2) .buzz-box-header { background: #ff9933; }
.buzz-box:nth-of-type(4n+3) .buzz-box-header { background: #737373; }
.buzz-box:nth-of-type(4n) .buzz-box-header { background: #97c13d; }

.buzz-box-header:after {
	content: '';
	display: block;
	position: absolute;
	left: 30px;
	top: 100%;
	width: 0;
	height: 0;
	margin: -1px 0 0 0;
	border: 10px solid #fff;
	border: 10px solid rgba(255,255,255,0);
}

.buzz-box:first-of-type .buzz-box-header:after {
	border-top-color: #0da3b3; 
}

.buzz-box-header img {
	vertical-align: middle;
	margin-left: 15px;
	height: 35px;
}

.buzz-box-body {
	height: 130px;
}

.buzz-box-body p { margin: 0;  font-size: 14px !important;  line-height: normal !important; padding: 25px 15px 0px 15px;}
.buzz-box-boyd q { position: relative; quotes: '"' '"';}

.buzz-box-footer {
	height: 30px;
	padding: 5px 20px;
	position: relative;
	font-weight: bold;
}

.buzz-box-footer time { float: left; }
.buzz-box-footer a { float: right; color: #f54785;}
.buzz-box-footer a { color: #f54785 !important;}

.warranty li {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 25px;
}

p.about-us {
	font-size: 16px;
	width: 100%; 
	margin: auto;
	text-align: left;
}

/* LIGHTBOX PLUGIN */

/* Preload images */
body:after {
		content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
		display: none;
}

.lightboxOverlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		background-color: black;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		opacity: 0.8;
		display: none;
}

.lightbox {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 10000;
		text-align: center;
		line-height: 0;
		font-weight: normal;
}

.lightbox .lb-image {
		display: block;
		height: auto;
		max-width: inherit;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
}

.lightbox a img {
		border: none;
}

.lb-outerContainer {
		position: relative;
		background-color: white;
		*zoom: 1;
		width: 250px;
		height: 250px;
		margin: 0 auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
}

.lb-outerContainer:after {
		content: "";
		display: table;
		clear: both;
}

.lb-container {
		padding: 4px;
}

.lb-loader {
		position: absolute;
		top: 43%;
		left: 0;
		height: 25%;
		width: 100%;
		text-align: center;
		line-height: 0;
}

.lb-cancel {
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 auto;
		background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
}

.lb-container > .nav {
		left: 0;
}

.lb-nav a {
		outline: none;
		background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
		height: 100%;
		cursor: pointer;
		display: block;
}

.lb-nav a.lb-prev {
		width: 34%;
		left: 0;
		float: left;
		background: url(../img/prev.png) left 48% no-repeat;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		-webkit-transition: opacity 0.6s;
		-moz-transition: opacity 0.6s;
		-o-transition: opacity 0.6s;
		transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}

.lb-nav a.lb-next {
		width: 64%;
		right: 0;
		float: right;
		background: url(../img/next.png) right 48% no-repeat;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		-webkit-transition: opacity 0.6s;
		-moz-transition: opacity 0.6s;
		-o-transition: opacity 0.6s;
		transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}

.lb-dataContainer {
		margin: 0 auto;
		padding-top: 5px;
		*zoom: 1;
		width: 100%;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
		content: "";
		display: table;
		clear: both;
}

.lb-data {
		padding: 0 4px;
		color: #ccc;
}

.lb-data .lb-details {
		width: 85%;
		float: left;
		text-align: left;
		line-height: 1.1em;
}

.lb-data .lb-caption {
		font-size: 13px;
		font-weight: bold;
		line-height: 1em;
}

.lb-data .lb-number {
		display: block;
		clear: left;
		padding-bottom: 1em;
		font-size: 12px;
		color: #999999;
}

.lb-data .lb-close {
		display: block;
		float: right;
		width: 30px;
		height: 30px;
		background: url(../img/close.png) top right no-repeat;
		text-align: right;
		outline: none;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-o-transition: opacity 0.2s;
		transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
}


/* MY EMMA*/


#e2ma_signup_form {
	margin: auto;
	width: 400px;
}

.e2ma_signup_form_label {
	width: 45px !important;
	font-family: ProximaNova-Regular;
	font-size: 15px;
}

.e2ma_signup_form_row, .e2ma_signup_form_required_footnote {
	border: 0 !important;
}

.e2ma_signup_form_element {
	width: 100% !important;
}

.e2ma_signup_form_element, .e2ma_signup_form_element input {
	margin: auto !important;
	text-align: center;
}

.e2ma_signup_form_element input {
	height: 35px;
	padding: 10px 12px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	width: 270px; margin-right: 12px 
}

.e2ma_signup_form_required_footnote {
	display: none;
}

#e2ma_signup_reset_button, #e2ma_signup_message { display: none !important; }

#e2ma_signup_submit_button {
	position: relative;
	right: 7px;
	padding: 7px 13px 5.5px;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}

#e2ma_signup_submit_button {
	color: white;
	background-color: #0da3b3;
	border: 0;
	width: 75px !important;
	border-radius: 5px;
}

.e2ma_signup_form_button_row {
	left: 45%;
	position: relative;
}

